{{#each this}}
<li>
    <div class="photo-card">
        <picture>
            {{#each images}}
            <source srcset="{{this.url}}" />{{/each}}
            <img src="" alt="" class="" />
        </picture>

    <div class="info">
        <p class="stats-item">
            {{name}}
        </p>
        <p class="stats-item">
            {{dates.start.localDate}}
        </p>
        <p class="stats-item">
            <i class="material-icons">room</i>
            {{dates.timezone}}
        </p>
    </div>
    </div>
</li>
{{/each}}