{{#each this}}
<li>
    <div class="photo-card">
        <img src="images" alt="name">

  <div class="info">
        <p class="stats-item">
           {{name}}
        </p>
        <p class="stats-item">
{{endDateTime}}
        </p>
        <p class="stats-item">
            <i class="material-icons">room</i>
{{timezone}}
        </p>
    </div>
    </div>
</li>
{{/each}}