<section class="events">
  <ul class="list-allExecutor" id='js-events-list'>
    <!-- <li class="list-executor">
      <div class="photo-card">
        <div class="box"></div>
        <img class="page-albom" src="./images/euro.png" alt="euroHits" width="161" />
      </div>
      <div class="info">
        <h2 class="name-albom">Eurovision 2021 finals!</h2>
        <p class="album-release-date">2021-05-13</p>
        <p class="place-performance">
          <i class="material-icons">room</i>
          Palace of Ukraine
        </p>
      </div>
    </li>
    <li class="list-executor">
      <div class="photo-card">
        <div class="box"></div>
        <img class="page-albom" src="./images/euro.png" alt="euroHits" width="161" />
      </div>
      <div class="info">
        <h2 class="name-albom">Eurovision 2021 finals!</h2>
        <p class="album-release-date">2021-05-13</p>
        <p class="place-performance">
          <i class="material-icons">room</i>
          Palace of Ukraine
        </p>
      </div>
    </li>
    <li class="list-executor">
      <div class="photo-card">
        <div class="box"></div>
        <img class="page-albom" src="./images/euro.png" alt="euroHits" width="161" />
      </div>
      <div class="info">
        <h2 class="name-albom">Eurovision 2021 finals!</h2>
        <p class="album-release-date">2021-05-13</p>
        <p class="place-performance">
          <i class="material-icons">room</i>
          Palace of Ukraine
        </p>
      </div>
    </li>
    <li class="list-executor">
      <div class="photo-card">
        <div class="box"></div>
        <img class="page-albom" src="./images/euro.png" alt="euroHits" width="161" />
      </div>
      <div class="info">
        <h2 class="name-albom">Eurovision 2021 finals!</h2>
        <p class="album-release-date">2021-05-13</p>
        <p class="place-performance">
          <i class="material-icons">room</i>
          Palace of Ukraine
        </p>
      </div>
    </li> -->
  </ul>
</section>
