<!-- Временная кнопка для открытия модалки -->

<!-- <button class="open-button modal__more-info-link" type="button" data-modal-open>
	Открыть модалку
</button> -->

<!-- Разметка для модального окна и бэкдроп -->

<div class="backdrop is-hidden">
	<div class="modal">
		<button class="close-button" type="button" data-modal-close>
			<svg>
				<use href="../src/images/icons/sprite.svg#close-button"></use>
			</svg>
		</button>

		<div class="modal__main-container">
    <!-- Здесь будет рендериться информация по событию -->
    </div>

	</div>
</div>