<!-- Временная кнопка для открытия модалки -->

<!-- <button class="open-button modal__more-info-link" type="button" data-modal-open>
	Открыть модалку
</button> -->

<!-- Разметка для модального окна и бэкдроп -->

<div class="backdrop is-hidden">
	<div class="modal">
		<button class="close-button" type="button" data-modal-close>
			<!-- <img src="../src/images/close-button.svg" alt="Кнопка закрытия модального окна"> -->
			<!-- <img src="../src/images/close-source.svg" alt="Кнопка закрытия модального окна"> -->
			<svg>
				<use href="../src/images/icons/sprite.svg#close-button"></use>
			</svg>
		</button>

		<div class="modal__main-container">
			<!-- <div class="modal__top-image-container">
        <img class="modal__top-image" src="../src/images/temp-small-image.jpg" alt="Исполнитель">
      </div>

      <div class="modal__information-container">
        <div class="modal__side-image-container">
          <img class="modal__side-image" src="../src/images/temp-big-image.jpg" alt="Исполнитель">
        </div>

        <div class="modal__main-information">
          <h2 class="modal__subheader">Info</h2>
          <p class="modal__text">Atlas Weekend is the largest music festival
          in Ukraine. More than 200 artists will create
          a proper music festival atmosphere on 10 stages</p>
          <h2 class="modal__subheader">When</h2>
          <p class="modal__text">2021-06-09<br>20:00 (Kyiv/Ukraine)</p>
          <h2 class="modal__subheader">Where</h2>
          <p class="modal__text">Kyiv, Ukraine<br>VDNH</p>
          <h2 class="modal__subheader">Who</h2>
          <p class="modal__text">The Black Eyed Peas</p>
          <h2 class="modal__subheader">Prices</h2>

          <div class="modal__ticket-container">
            <p class="modal__text">
              <svg class="modal__ticket-barcode">
                <use href="../src/images/sprite.svg#ticket-barcode"></use>
              </svg>
              Standard 300-500 UAH
            </p>
            <a class="modal__buy-tickets-link" href="#" target="_blank" title="More from this author">
              Buy tickets
            </a>
          </div>

          <div class="modal__ticket-container">
            <p class="modal__text">
              <svg class="modal__ticket-barcode">
                <use href="../src/images/sprite.svg#ticket-barcode"></use>
              </svg>
              VIP 1000-1500 UAH
            </p>
            <a class="modal__buy-tickets-link" href="#" target="_blank" title="More from this author">
              Buy tickets
            </a>
          </div>

        </div>
      </div>

      <a class="modal__more-info-link" href="#" target="_blank" title="More from this author">
        More from this author
      </a> -->
		</div>

	</div>
</div>