li {
  list-style-type: none;
}
body {
  background-color: $primary-background-color;
  background-repeat: repeat;
  background-image: url(/images/events/noisebody.png);
}
.list-allExecutor {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  padding: 0px;
}
.photo-card {
  position: relative;
}
.page-albom {
  display: inline-block;
  object-fit: cover;
  border-radius: 50px 0px 50px 0px;
}
.box-ev {
  pointer-events: none;
  display: block;
  position: absolute;
  border-radius: 50px 0px 50px 0px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  right: 0px;
}
.name-albom {
  color: $pink-text-color;
}
.name-albom,
.place-performance,
.album-release-date {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}
.place-performance,
.album-release-date {
  color: $white-text-color;
}
@media screen and (max-width: 767px) {
  .events {
    margin-left: 25px;
    margin-right: 15px;
  }
  .box-ev {
    width: 109px;
    height: 101px;
  }
  .list-allExecutor {
    width: 280px;
  }
  .list-executor {
    margin-left: 2px;
    margin-right: 2px;
    width: 138px;
    margin-bottom: 41px;
    width: calc((100% - 2 * 4px) / 2);
  }
  .page-albom {
    margin-top: 9px;
    width: 128px;
    height: 161px;
  }
  .name-albom {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
  }
  .album-release-date {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
  }
  .place-performance {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
  }
  .material-icons {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .events {
    margin-left: 85px;
    margin-right: 73px;
  }
  .box-ev {
    width: 153px;
    height: 143px;
  }
  .list-allExecutor {
    width: 610px;
  }
  .list-executor {
    margin-left: 4.33px;
    margin-right: 4.33px;
    width: 196px;
    margin-bottom: 45px;
    width: calc((100% - 3 * 13px) / 3);
  }
  .page-albom {
    margin-top: 13px;
    width: 180px;
    height: 227px;
  }
  .name-albom {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.25;
  }
  .album-release-date {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
  }
  .place-performance {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
  }
  .material-icons {
    font-size: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .events {
    margin-left: 173px;
    margin-right: 161px;
  }
  .box-ev {
    width: 153px;
    height: 143px;
    right: -14px;
  }
  .list-allExecutor {
    width: 946px;
  }
  .list-executor {
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 50px;
    width: calc((100% - 4 * 54px) / 4);
  }
  .page-albom {
    margin-top: 13px;
    width: 180px;
    height: 227px;
  }
}
