// тестовые стили, для того чтобы было видно текст на черном фоне. Можете снести по необходимости.
// ul li {
//   color: white;
//   margin: 10px;
// }

// FORM FIELDS

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  margin-top: 25px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 27px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 52px;
  }
}

.input-search {
  display: flex;

  width: 270px;
  height: 40px;
  padding: 10px 50px 10px 30px;

  margin-bottom: 25px;

  background-color: $search-fields-background-color;
  backdrop-filter: blur(20px);
  color: $secondary-text-color;

  border: 0;
  border-radius: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: $secondary-text-color;
  }

  &:focus,
  &:active {
    outline: none;

    background-color: $search-fields-background-color;
    backdrop-filter: blur(20px);
    color: $secondary-text-color;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.form-input {
  position: relative;
}

.form-input .icon {
  position: absolute;
  top: 20%;
  right: 35px;

  display: inline-block;
  fill: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    top: 35%;
    right: 60px;
  }
}

.search.icon {
  width: 12px;
  height: 12px;
  fill: $secondary-text-color;
  pointer-events: none;
}

.select-country {
  display: flex;

  width: 270px;
  height: 40px;
  padding: 10px 50px 10px 30px;

  background-color: $search-fields-background-color;
  backdrop-filter: blur(20px);
  color: $secondary-text-color;

  border: 0;
  border-radius: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  cursor: pointer;

  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }

  &:focus,
  &:active {
    outline: none;
    height: 210px;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
  }
}

.select-label {
  position: relative;

  &::after {
    content: ' ';

    display: inline-block;
    width: 17px;
    height: 12px;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: transparent;
    background-image: url(../images/icons/closed-svg.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: -26px;
    right: -240px;

    color: $secondary-text-color;

    pointer-events: none;
    -webkit-transition: 0ms all ease;
    -o-transition: 0ms all ease;
    transition: 0ms all ease;
  }
}

select:focus + .select-label::after {
  content: ' ';

  background-image: url(../images/icons/opened-svg.svg);

  position: absolute;
  top: -196px;
  right: -240px;

  color: $secondary-text-color;

  pointer-events: none;
  -webkit-transition: 0ms all ease;
  -o-transition: 0ms all ease;
  transition: 0ms all ease;
}

.option {
  color: #cccccc;
  max-width: 270px;
  max-height: 170px;

  padding: 0px 50px 0px 30px;

  &.disabled {
    color: $secondary-text-color;
  }

  // &:hover { // тестовые стили, можно удалить
  //   background-color: #dc56c5;
  //   color: white;
  // }
}

option:checked {
  background-color: #dc56c5 !important;
}
